header {
    text-align: center;   
    }

body { font-family:  Arial, sans-serif;
    font-size: 11pt;
    color: black;
    background-color: rgb(221, 217, 217);
}
nav {
    text-align: center;
    Padding: 10px;
    background-color: #f5f5dc;
    justify-content: center;
}

nav ul{
display: table;
width: 300px;
margin: 10px auto;
padding: 0;
text-align: center;
}

nav ul li {
display: table-cell;
list-style-type: none;
padding: 5px;
margin: 5px;
text-align: center;
float : left;
height : 21px;  
background-color: blanchedalmond; 
margin : 2px 2px 0 2px   
}
